# Pengenalan Pola - Template Matching

#### Anggota Kelompok
1. BAPTISTA BRAHMANTIA NANDA JEHARU 	- 205314144
2. KURNIAWAN RONALDI PURNAMA 		- 205314148
3. PAULUS CAESARIO DITO PUTRA HARTONO - 205314159
4. STEVEN 						- 205314172

## Mengambil file dari google drive menggunakan id-file
contoh 
ID dari url `https://drive.google.com/file/d/1_qMSpHNPCHYcQNzdZ6-EefsunpX-KEey/view?usp=sharing`

maka id dari url tersebut
```
https://drive.google.com/file/d/

1_qMSpHNPCHYcQNzdZ6-EefsunpX-KEey <-- ID File

/view?usp=sharing
```

In [ ]:
!gdown --id '1Z_71a7cHVvIz5LzkzuLjzAg3QZwCsZSu' -O data_daun_a.csv
!gdown --id '1dP5g8lftOnhBc8zelY-4Px6Yx_1praYm' -O data_daun_b.csv
!gdown --id '1_qMSpHNPCHYcQNzdZ6-EefsunpX-KEey' -O data_daun_c.csv
!gdown --id '1ZSQCE7Bw7P-1_D_8BxurhbLkIjlWBAcO' -O data_daun_d.csv

In [ ]:
# Pola 1 - Template matching
import numpy as np
import pandas as pd

## File CSV sebagai Inputan

In [ ]:
DAUN_A = pd.read_csv('data_daun_a.csv').to_numpy() # Konversi DataFrame ke Numpy Array
DAUN_B = pd.read_csv('data_daun_b.csv').to_numpy()
DAUN_C = pd.read_csv('data_daun_c.csv').to_numpy()
DAUN_D = pd.read_csv('data_daun_d.csv').to_numpy()

## Input Data

In [ ]:
# Data ekstraksi ciri

# INPUT
DAUN = ["A","B","C","D"]
CIRI = np.array(
    [
      DAUN_A[10],
      DAUN_B[10],
      DAUN_C[10],
      DAUN_D[10]
    ]
)

# Database
DB = np.array(
    [
      DAUN_A[0],
      DAUN_B[0],
      DAUN_C[0],
      DAUN_D[0]
    ]
)

# Database Rerata 1:5
DBR = np.array(
    [
        np.average(DAUN_A[0:5],axis=0),
        np.average(DAUN_B[0:5],axis=0),
        np.average(DAUN_C[0:5],axis=0),
        np.average(DAUN_D[0:5],axis=0)
    ]
)

# Database Rerata 1:10
DBR2 = np.array(
    [
        np.average(DAUN_A[0:10],axis=0),
        np.average(DAUN_B[0:10],axis=0),
        np.average(DAUN_C[0:10],axis=0),
        np.average(DAUN_D[0:10],axis=0)
    ]
)

CIRI

In [ ]:
# Mengklasifikankan data daun
def klasifikasi(ciri, db):
  arr = []
  for i in range(len(ciri)):
    arr.append([])
    for j in range(len(ciri[i])):
      arr[i].append(sum(abs(ciri[i]-db[j])))
  return arr

# Mengambil data daun yang terkecil
def getOutput(arr):
  return np.argsort(np.array(arr))

## Hasil Perhitungan

In [ ]:
# menyimpan hasil perhitungan menjadi 3 bagian
A = [DAUN[x[0]] for x in getOutput(klasifikasi(CIRI,DB))] # bagian pertama Input dengan Single Value
B = [DAUN[x[0]] for x in getOutput(klasifikasi(CIRI,DBR))] # bagian kedua Input dengan Rerata 5 Data
C = [DAUN[x[0]] for x in getOutput(klasifikasi(CIRI,DBR2))] # bagian ketiga Input dengan Rerata 10 Data
A

['A', 'B', 'C', 'D']

#### Perbandingan Data [A11, B11, C11, D11] dengan [A1, B1, C1, D1]

In [ ]:
DATABASE = ["INPUT/DATABASE","A1","B1","C1","D1","OUTPUT"]
INPUT_DAUN = ["A11","B11","C11","D11"]
correct = ['A', 'B', 'C', 'D']
countCorrect = 0
total = 0

test = klasifikasi(CIRI,DB)
for i in range(len(test)):
  test[i].insert(0,INPUT_DAUN[i])
  test[i].insert(len(test[i]),A[i])

df = pd.DataFrame(test,columns=DATABASE)
df

print(test)

  INPUT/DATABASE      A1      B1      C1      D1 OUTPUT
0            A11   7.125  56.825  13.200  12.625      A
1            B11  33.825  15.875  37.150  29.325      B
2            C11  20.000  68.700  15.675  23.500      C
3            D11  19.275  30.425  22.600  14.775      D

#### Perbandingan Data [A11, B11, C11, D11] dengan [A1:A5, B1:B5, C1:C5, D1:D5]

In [ ]:
DATABASE = ["INPUT/DATABASE","A1:A5","B1:B5","C1:C5","D1:D5","OUTPUT"]
INPUT_DAUN = ["A11","B11","C11","D11"]

test = klasifikasi(CIRI,DBR)
for i in range(len(test)):
  test[i].insert(0,INPUT_DAUN[i])
  test[i].insert(len(test[i]),B[i])

df = pd.DataFrame(test,columns=DATABASE)
df

  INPUT/DATABASE   A1:A5   B1:B5   C1:C5   D1:D5 OUTPUT
0            A11   3.925  47.170  14.060   3.777      D
1            B11  37.025   9.940  44.410  38.373      B
2            C11  17.720  59.045   8.415  14.852      C
3            D11  23.155  20.770  29.860  23.823      B

#### Perbandingan Data [A11, B11, C11, D11] dengan [A1:A10, B1:B10, C1:C10, D1:D10]

In [ ]:
DATABASE = ["INPUT/DATABASE","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"]
INPUT_DAUN = ["A11","B11","C11","D11"]

test = klasifikasi(CIRI,DBR2)
for i in range(len(test)):
  test[i].insert(0,INPUT_DAUN[i])
  test[i].insert(len(test[i]),C[i])

df = pd.DataFrame(test,columns=DATABASE)
df

  INPUT/DATABASE    A1:A10  B1:B10  C1:C10  D1:D10 OUTPUT
0            A11   3.20875  43.172  13.100   4.391      A
1            B11  44.03875   7.982  42.970  37.379      B
2            C11  15.62625  55.047   9.855  15.446      C
3            D11  29.60875  16.772  28.420  22.829      B